<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="RetailCartSuite">
    <test name="CartAPITests">
        <classes>
            <class name="com.learn.testng.AnnotationOrderDemoTest"/>
            <class name="com.learn.testng.CartControllerTest"/>
            <class name="com.learn.testng.ReturnsControllerTest"/>
            <class name="com.learn.testng.ReturnsControllerV2Test"/>
        </classes>
    </test>
</suite>
